@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

:root {
  --primary-color: #ffd500;
  --secondary-color: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Shadows Into Light", cursive;
}

.text-primary {
  color: var(--primary-color);
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.9;
  z-index: -10;
}

.fullscreen-bg img {
  height: 100px;
  width: 75px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.navbar .navbar-nav a {
  color: #fff;
}

.navbar .navbar-nav {
  font-family: "Shadows Into Light", cursive;
}

.navbar .navbar-toggler {
  color: var(--primary-color);
}

.navbar-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.navbar-items .navbar-nav {
  margin-right: 50px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}

.nav-item a.nav-link {
  color: var(--secondary-color);
}

.nav-item a.tp {
  color: var(--primary-color);
}

.nav-item a.nav-link:hover {
  cursor: pointer;
  color: var(--primary-color);
}

section {
  font-family: "Shadows Into Light", cursive;
  color: #fff;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 100px;
  height: 70%;
  width: 20%;
}

section .title-container .title {
  padding: 0;
  margin: 0;
  height: 100px;
  font-stretch: narrower;
  font-size: 5rem;
  font-weight: 900;
}

section .title-container .part {
  font-size: 3rem;
}

section .title-container h3 {
  padding-top: 20px;
  font-size: 2rem;
}

section .title-container .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
  margin-top: 20px;
}

section .title-container .btns .btn-solid {
  height: 50px;
  width: 120px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--primary-color);
  outline: none;
  border: none;
}

section .title-container .btns .btn-outline {
  height: 50px;
  width: 180px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 5px;
  border: 2px solid var(--primary-color);
  color: #fff;
  background-color: transparent;
  outline: none;
}

section .title-container .btns .btn-solid:hover {
  color: #fff;
  cursor: pointer;
}

section .title-container .btns .btn-outline:hover {
  color: #000;
  cursor: pointer;
  background-color: rgba(255, 213, 0, 0.4);
}

@media (max-width: 800px) {
  section .title-container .title {
    padding: 0;
    margin: 0;
    height: 50px;
    font-size: 3rem;
    font-weight: 900;
  }
}
